# Comment line immediately above ownership line is reserved for related other information. Please be careful while editing.

#GUSINFO: Web Application Runtime, Lightning Web Runtime (Container)
* @salesforcecli/lwr
