# Comment line immediately above ownership line is reserved for related other information. Please be careful while editing.

#GUSINFO: Web Application Runtime, LWR CLI and Local Development
* @salesforcecli/lwr @salesforcecli/lex @salesforcecli/mobile-platform-experience
