# Comment line immediately above ownership line is reserved for related other information. Please be careful while editing.

#GUSINFO:Application Fabric Services, Application Fabric Services
* @salesforcecli/lwr @salesforcecli/lex @salesforcecli/mobile-platform-experience
