.important-text {
  font-weight: bold;
  color: rgb(190, 30, 121); 
  padding-bottom: 10px;
}

.footer-text {
  font-style: italic;
  color: rgb(193, 12, 12);
  font-size: 0.8rem;
}

/* Add more styles here later to test HMR */
