name: publish
on:
  release:
    # both release and prereleases
    types: [published]
  # support manual release in case something goes wrong and needs to be repeated or tested
  workflow_dispatch:
    inputs:
      tag:
        description: github tag that needs to publish
        type: string
        required: true
jobs:
  getDistTag:
    outputs:
      tag: ${{ steps.distTag.outputs.tag }}
      version: ${{ steps.distTag.outputs.version }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name || inputs.tag  }}
      - uses: salesforcecli/github-workflows/.github/actions/getPreReleaseTag@main
        id: distTag
      - run: echo "[INFO] tag is=$INPUTS_TAG , version is=$INPUTS_VERSION"
        env:
          INPUTS_TAG: ${{ steps.distTag.outputs.tag }}
          INPUTS_VERSION: ${{ steps.distTag.outputs.version }}

  getMajorVersion:
    needs: [getDistTag]
    outputs:
      major: ${{ steps.parsedVersion.outputs.major }}
    runs-on: ubuntu-latest
    steps:
      - uses: salesforcecli/github-workflows/.github/actions/parse-semver@main
        id: parsedVersion
        with:
          input_string: ${{ needs.getDistTag.outputs.version }}
      - run: echo "[INFO] Major version is=$INPUTS_MAJOR_VERSION"
        env:
          INPUTS_MAJOR_VERSION: ${{ steps.parsedVersion.outputs.major }}

  npm:
    uses: salesforcecli/github-workflows/.github/workflows/npmPublish.yml@main
    needs: [getDistTag, getMajorVersion]
    with:
      ctc: true
      sign: true
      # At CLCO, the new patch branch's version will be released as 'prerelease'. After R2b, delete the logic below for 'latest' and update 'prerelease' candidate to 'latest'
      tag: ${{ needs.getDistTag.outputs.tag || (needs.getMajorVersion.outputs.major == '4' && 'latest') || (needs.getMajorVersion.outputs.major == '5' && 'prerelease') || 'next' }}
      githubTag: ${{ github.event.release.tag_name || inputs.tag }}

    secrets: inherit
