name: pr-validation

on:
  pull_request:
    types: [opened, reopened, edited]
    # only applies to PRs that want to merge to main or patch branches
    branches:
      - main
      - '2*-patch'
  workflow_dispatch:

jobs:
  check-versions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - run: node .husky/check-versions.js
  pr-validation:
    uses: salesforcecli/github-workflows/.github/workflows/validatePR.yml@main
